@import "config";

.input-item {
    min-height: 30px;
    width : 100%;
}

#header-sec {

    background-image :  url("../images/header-bg.jpg") ; 
    background-attachment: fixed ;
    background-position : 50% 50% ;
    background-repeat: no-repeat;
    background-size: cover ;
    height: 100vh ;
    width : 100vw; 

}

.overlay-header {
    width : 100% ;
    height:  100%;
    background-color :#000000b0;;

}

/*_____-Navbar______*/
.navbar-sec {
    background-color : transparent!important ;
    border: 1px solid #3b3b3bb0;

}

.navbar-brand {
    color : $primaryColor!important;
}

.nav-link {
    color : $primaryColor!important;
}
.nav-link:hover {
    color : #114b6e!important;
}

/*______Form sec_______- */
.form-sec {
    padding-top : 10rem;
    @include main_font;
    color: $secondryColor;
}

/*___Login part___ */

.login-form{
    text-align: center;
}

.img-user {
    padding-bottom : 2rem;  
}

.item-login {
    display: flex ;
    justify-content: center;
    align-content: center;
    border: 1px solid rgb(83, 83, 83);
    margin-bottom : 1rem;
}

/*___Signup Part___ */

.signup-form {
    text-align: center;
}

.item-signup {
    display: flex ;
    justify-content: center;
    align-content: center;
    border: 1px solid rgb(83, 83, 83);
    margin-bottom : 1.5rem;
}

/* Signup and login stlying */

.buttons-form {
    width: 100%;
    text-align: left;
}

.icon-item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    background-color:  rgba(58, 58, 58, 0.856);
    color : $primaryColor;
}


.item-submit input {
    cursor: pointer;
    background-color: #129cf3;
    color : $secondryColor;
    letter-spacing: 1px;
    padding : 5px 25px;
}
.item-submit input:hover {
    background-color : #094970;
    @include main_transition;
}

/*___Profile System_____ */
.profile-header {

    padding-top : 8rem;
    @include main_font;
    color: $secondryColor;

}

.profile-row {
    border : 1px solid $primaryColor;
}

.img-profile {
    border-right: 1px solid $primaryColor;
}
.img-profile img {
    border-radius: 50%;
    width : 100%;
}

.profile-item {
    display: grid;
    grid-template-areas: 'left right' ;
    margin-bottom: 1rem;
}

.headers-profile {
    grid-area: left ;
    grid-column: 1/8 ;
}
.info-profile {
    grid-area : right ;
    grid-column: 2/8 ;
}
.info-profile input {
    height:  100% ;
    width : 100%;
    background: transparent ;
    border : 1px solid $secondryColor ;

}



