/* styling Groups */
body {
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Raleway', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

input {
  outline: none;
  border: none;
  background: none;
  padding-left: 5px;
  color: #fff;
}

input:focus {
  outline: none;
}

input::-webkit-input-placeholder {
  color: #fff;
}

input:-ms-input-placeholder {
  color: #fff;
}

input::-ms-input-placeholder {
  color: #fff;
}

input::placeholder {
  color: #fff;
}

.row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a {
  color: #007bff;
}

p {
  margin: 0;
}

.input-item {
  min-height: 30px;
  width: 100%;
}

#header-sec {
  background-image: url("../images/header-bg.jpg");
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200vh;
  width: 100vw;
}

.overlay-header {
  width: 100%;
  height: 100%;
  background-color: #000000b0;
}

/*_____-Navbar______*/
.navbar-sec {
  background-color: transparent !important;
  border: 1px solid #3b3b3bb0;
}

.navbar-brand {
  color: #129CF3 !important;
}

.nav-link {
  color: #129CF3 !important;
}

.nav-link:hover {
  color: #114b6e !important;
}

/*______Form sec_______- */
.form-sec {
  padding-top: 9rem;
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

/*___Login part___ */
.login-form {
  text-align: center;
}

.img-user {
  padding-bottom: 2rem;
}

.item-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border: 1px solid #535353;
  margin-bottom: 1rem;
}

/*___Signup Part___ */
.signup-form {
  text-align: center;
}

.item-signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border: 1px solid #535353;
  margin-bottom: 1.5rem;
}

/* Signup and login stlying */
.buttons-form {
  width: 100%;
  text-align: left;
}

.icon-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 50px;
  background-color: rgba(58, 58, 58, 0.856);
  color: #129CF3;
}

.item-submit input {
  cursor: pointer;
  background-color: #129cf3;
  color: #fff;
  letter-spacing: 1px;
  padding: 5px 25px;
  margin-top: 20px;
}

.item-submit input:hover {
  background-color: #094970;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

/*___Profile System_____ */
.profile-header {
  padding-top: 8rem;
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

.profile-row {
  border: 1px solid #129CF3;
}

.img-profile {
  border-right: 1px solid #129CF3;
}

.img-profile img {
  border-radius: 50%;
  width: 100%;
}

.profile-item {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'left right';
  margin-bottom: 1rem;
}

.headers-profile {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1/8;
}

.info-profile {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: right;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2/8;
}

.info-profile input {
  height: 100%;
  width: 100%;
  background: transparent;
  border: 1px solid #fff;
}

/* sections for errors  */
.errors {
  padding-top: 4.5rem;
  color: #fff;
  text-align: center;
  border-bottom: 1px solid grey;
  display: block;
}
